<!-- <h3>New Power Form</h3>
 <%= form_with model: @power do |f| %>
    <label>Name:</label><br>
    <%= f.text_field :name %><br>
    <label>Description:</label><br>
    <%= f.text_field :Description %><br>
    <label>Alias:</label><br>
    <%= f.text_field :alias %><br>
    <label>Title:</label><br>
    <%= f.text_field :title %><br>
    <label>Office:</label><br>
    <%= f.text_field :office %><br>
    <label>Image URL:</label><br>
    <%= f.text_field :img_url %><br>
    <label>Dog:</label><br>
    <%= f.collection_select :dog_id, Dog.all, :id, :name %><br>
    <%= f.submit %>
<% end %> -->
