<h2>All Heroines</h2>

<%= form_with url: filtered_heroines_path, method: :get do |f| %>
  <%= label_tag(:power, "Filter by power:") %>
  <%= f.collection_select :power_id, Power.all, :id, :display_name %>
  <%= submit_tag("Filter") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<h4><%= link_to "New Heroine", new_heroine_path %></h4>
