<h4>New Heroine</h4>
<%= form_with model: @heroine do |f| %>
	
	<% if @heroine.errors.any? %>
		<div id="error_explanation">
			<ul>
			<% @heroine.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.text_field :name, placeholder: "Name" %><br/>
	<%= f.text_field :super_name, placeholder: "Super Name" %><br/>
	<%= f.label "Superpower: " %>
  <%= f.collection_select :power_id, Power.all, :id, :display_name %><br/>
  <%= f.submit %>
<% end %>

<h6><%= link_to "Back", heroines_path %></h6>