<h2>Create a new Heroine!</h2>

<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>


<%= form_with model: Heroine.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :super_name %>
  <%= f.text_field :super_name %><br>
  <%= f.collection_select :power_id, Power.all, :id, :name %>
  <%= f.submit %>
<% end %>

